<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation" parallel="tests" thread-count="2">
    <test name="EcommerceTests on Chrome" parallel="methods" thread-count="6">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.solvd.ecommerce.EcommerceTest"/>
        </classes>
    </test>
    <test name="EcommerceTests on Firefox" parallel="methods" thread-count="6">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.solvd.ecommerce.EcommerceTest"/>
        </classes>
    </test>
</suite>